
@media (max-width: 900px){
    .container__principal{
        margin: 0 auto;
        .content__principal{
            display: flex;
            flex-direction: column;
            align-items: center;

            .container__secondary{
                display: flex;
                align-items: center;
                margin-bottom: 2rem;
    
                & .image__relative{
                    position: relative;
                    width: 40rem;
    
                    .image-1{
                        width: 100%;
                    }
                    .card{
                        position: absolute;
                        bottom: -3rem;
                        right: 6rem;
                        background-color: black;
                        width: 35rem;
                        height: 18rem;
                        box-shadow: 0 0 10rem 0 rgba(0,0,0,0.8);
                    }
                }

            }
        }
        
    }

    .container__nav{
        .content__nav{
            display: flex;
            flex-direction: row;
            
            .nav__links{
                display: flex;
                flex-direction: column;
                padding: 1rem;
                width: 25rem;
                height: 100vh;
                z-index: 2;
                justify-content: center;
                position: fixed;
                top: -2rem;
                right: -250px;
                align-items: center;
                background: rgb(32,32,37);

                #cerrar{
                    position: absolute;
                    top: 1rem;
                    right: 3rem;
                    background-color: transparent;
                    fill: white;
                    width: 6rem;
                    border: thin solid transparent;
                    cursor: pointer;
                }
            }

            .burger{
                display: block;
                
                .btn-svg{
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                    svg{
                        fill: white;
                        width: 4rem;
                    }
                }
            }

            .nav__logo{
                .logo{
                    font-size: 2rem;
                    padding: .4rem;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: var(--text-color);
                    border: thin solid transparent;
                }
            }
        }
    }
}